{% extends 'base.html' %}

{% block content %}
<header>
  <h1 class="title">Exercises</h1>
  <a href="/exercises" class="button">Go to homepage</a>
</header>
<main class="exercising">
<h1>Edit Arms Exercises</h1>
<form action="/exercises/{{ exercise['id'] }}" method="POST">
  <label for="">Day:</label>
  <input type="text" name="day" value="{{ exercise['day'] }}">

  <label for="">Plan:</label>
  <input type="text" name="plan" value="{{ exercise['plan'] }}">

  <label for="">Current Weight:</label>
  <input type="text" name="weight" value="{{ exercise['weight'] }}">

  <label for="">Fasting Schedule:</label>
  <input type="text" name="fasting" value="{{ exercise['fasting'] }}">


  <label for="">Dietary Plan:</label>
  <input type="text" name="diet" value="{{ exercise['diet'] }}">


  <label for="">Image:</label>
  <input type="text" name="image" value="{{ exercise['image'] }}">

  <label for="">Edits:</label>
  <input type="text" name="change" value="{{ exercise['change'] }}">


  <button>Update Arms Exercise</button>
</form>
</main>
{% endblock %}