{% extends 'base.html' %}

{% block content %}
    <h1>Exercises</h1>

{% if current_user %}
<h3>Welcome to Keep it Fit {{ current_user['first_name'] }}</h3>
  
<section class="controls">
    <form action="/sessions/delete" method="POST">
      <button>Log out</button>
    </form>
  
    <a href="/exercises/new">Add Exercise Style</a>
  </section>
  <section class="exercises">
        {% for exercise in exercises: %}
     
    <section class="exercise">
        <header>
            <h2>{{ exercise['name'] }}</h2>
          

            <section class="controls">
                <a href="/exercises/{{ exercise['id'] }}/edit">Edit</a>

                <form action="/exercises/{{ exercise['id'] }}/delete" method="POST">
                    <button>Delete</button>
                  </form>

                    <form action="/exercises/{{ exercise['id'] }}/favorites" method="POST">
                      <button>Favorite</button> 
                    </form>
                    

                </section>
            </header>
        
        <img src="{{ exercise['image'] }}" alt=""><br>
        <p1>Day:</p1><p>{{ exercise['day'] }}</p>
        <p1>Exercise Type</p1><p>{{ exercise['plan'] }}</p>
        <p1>Your curent weight</p1><p>{{ exercise['weight'] }}</p>
        <p1>Number of Hours to Fast</p1><p>{{ exercise['fasting'] }}</p>
        <p1>Diet Plan</p1><p>{{ exercise['diet'] }}</p>
        <p1>Edits</p1><p>{{ exercise['change'] }}</p>
        <section>
          <form action="/exercises/{{ exercise['id'] }}/comments" method="POST">
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <hr>
            <button>comment</button> 
            </form>
            <section class="comment">
              {% for comment in comments if exercise['id'] == comment['exercise_id'] %}
                
                <section class="comments">
                  <p>{{ comment['comment'] }}</p>
                  <hr>
                </section>
                
              {% endfor %}
              </section>
        </section>
    </section>
    
    
    {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign up</a>
<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}



   
 
  
