{% extends 'base.html' %}

{% block content %}
<header>
  <h1 class="title">Exercises To Keep You Fit</h1>
  <a href="/shoulders" class="button">Go Back To Goals</a>
</header>
<main class="exercising">
<h1>Edit Exercise</h1>
<form action="/shoulders/{{ shoulder['id'] }}" method="POST">
  <label for="">Day:</label>
  <input type="text" name="day" value="{{ shoulder['day'] }}">

  <label for="">Plan:</label>
  <input type="text" name="plan" value="{{ shoulder['plan'] }}">

  <label for="">Current Weight:</label>
  <input type="text" name="weight" value="{{ shoulder['weight'] }}">

  <label for="">Fasting Schedule:</label>
  <input type="text" name="fasting" value="{{ shoulder['fasting'] }}">


  <label for="">Dietary Plan:</label>
  <input type="text" name="diet" value="{{ shoulder['diet'] }}">


  <label for="">Image:</label>
  <input type="text" name="image" value="{{ shoulder['image'] }}">

  <label for="">Edits:</label>
  <input type="text" name="change" value="{{ shoulder['change'] }}">


  <button>Update Exercise</button>
</form>
</main>
{% endblock %}