{% extends 'base.html' %}

{% block content %}
    <h1>shoulders Day</h1>

{% if current_user %}
<h3>Welcome to Keep it Fit {{ current_user['first_name'] }}</h3>
  
<section class="controls">
    <form action="/sessions/delete" method="POST">
      <button>Log out</button>
    </form>
  
    <a href="/shoulders/new">Add shoulder Style</a>
  </section>
  <section class="shoulders">
        {% for shoulder in shoulders: %}
     
    <section class="shoulder">
        <header>
            <h2>{{ shoulder['name'] }}</h2>

            <section class="controls">
                <a href="/shoulders/{{ shoulder['id'] }}/edit">Edit</a>

                <form action="/shoulders/{{ shoulder['id'] }}/delete" method="POST">
                    <button>Delete</button>
                  </form>

                  <form action="/shoulders/{{ shoulder['id'] }}/comments" method="POST">
                    <button>Add Comment</button>
                  </form>

                  <label for="">Additional Comments:</label>
                    <input type="text" name="Comment" value="{{ shoulder['comment'] }}">

                    <form action="/shoulders/{{ shoulder['id'] }}/favourites" method="POST">
                      <button>Favourite</button> 
                </section>
            </header>
        
        <img src="{{ shoulder['image_url'] }}" alt=""><br>

        <p1>Day:</p1><p>{{ shoulder['day_of_month'] }}</p>
        <p1>shoulder Type</p1><p>{{ shoulder['shoulder_plan'] }}</p>
        <p1>Your curent weight</p1><p>{{ shoulder['current_weight'] }}</p>
        <p1>Number of Hours to Fast</p1><p>{{ shoulder['fasting_schedule'] }}</p>
        <p1>Diet Plan</p1><p>{{ shoulder['dietary_plan'] }}</p>
        <p1>Comments</p1><p>{{ shoulder['input_comment'] }}</p>
    </section>
    {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign up</a>
<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}



   
 
  
