{% extends 'base.html' %}

{% block content %}
    <h1>Add Exercise</h1>
    <form action="/shoulders" method="POST">
        <label for="">Day:</label>
        <input type="text" name="day">

        <label for="">Plan:</label>
        <input type="text" name="plan">

        <label for="">Current Weight:</label>
        <input type="text" name="weight">

        <label for="">Fasting Schedule:</label>
        <input type="text" name="fasting">

        <label for="">Dietary Plan:</label>
        <input type="text" name="diet">

        <label for="">Image:</label>
        <input type="text" name="image">
        
        <label for="">Edits:</label>
        <input type="text" name="change">

        <button>Add Exercise</button>
        </form> 
{% endblock %}  
       
       