* {

  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(225, 224, 224);
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../images/imagessss');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Rest of the CSS styles remain the same */


.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}
.shoulders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}


.legs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.goals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}
p1 {
  font-size: larger;
  font-weight: bold;
  color: rgb(64, 61, 64);
}

a,
button {
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  background-color: #ca1f39;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}
.shoulders h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.legs h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goals h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exercises h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercises img {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}

.goals img {
  width: 100%;
  height: 300px;
  
  object-fit: scale-down;
  flex-direction: row;
}

.shoulders img {
  width: 100%;
  height: 300px;
  
  object-fit: scale-down;
}

.legs img {
  width: 100%;
  height: 300px;
  
  object-fit: scale-down;
}

.exercises header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}

.goals header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}

.shoulders header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}

.legs header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}


.controls {
  display: flex;
  gap: 0.5rem;
}