* {

  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(225, 224, 224);
}

.exercises {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}
.shoulders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.arms {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.legs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}

.goals {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1.25rem;
  margin-top: 1.5rem;
}
p1 {
  font-size: larger;
  font-weight: bold;
  color: rgb(64, 61, 64);
}

a,
button {
  border: 1px solid black;
  padding: 0.25rem 0.5rem;
  background-color: #ca1f39;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
}
.shoulder h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.arm h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.goal h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.exercise h2 {

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.exercise img {
  width: 100%;
  height: 300px;
  object-fit: scale-down;
}

.goal img {
  width: 100%;
  height: 300px;
  
  object-fit: cover;
}

.shoulder img {
  width: 100%;
  height: 300px;
  
  object-fit: cover;
}

.arm img {
  width: 100%;
  height: 300px;
  
  object-fit: cover;
}

.exercise header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}

.goal header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}

.shoulder header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}

.arm header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e10d0d;
  padding: 0 1rem;
}


.controls {
  display: flex;
  gap: 0.5rem;
}