{% extends 'base.html' %}

{% block content %}

<h1>Edit Legs Exercise</h1>
<form action="/legs/{{ leg['id'] }}" method="POST">
  <label for="">Day:</label>
  <input type="text" name="Day" value="{{ leg['day_of_month'] }}">

  <label for="">Plan:</label>
  <input type="text" name="Plan" value="{{ leg['leg_plan'] }}">

  <label for="">Current Weight:</label>
  <input type="text" name="Current Weight" value="{{ leg['current_weight'] }}">

  <label for="">Fasting Schedule:</label>
  <input type="text" name="Fasting Schedule" value="{{ leg['fasting_schedule'] }}">


  <label for="">Dietary Plan:</label>
  <input type="text" name="Dietary Plan" value="{{ leg['dietary_plan'] }}">


  <label for="">Image:</label>
  <input type="text" name="image_url" value="{{ leg['image_url'] }}">

  <label for="">Comment:</label>
  <input type="text" name="comment" value="{{ leg['input_comment'] }}">


  <button>Update legs Exercise</button>
</form>
{% endblock %}