{% extends 'base.html' %}

{% block content %}
<header>
  <h1 class="title">Exercise To Keep You Fit</h1>
  <a href="/legs" class="button">Go Back To Goals</a>
</header>
<main class="exercising">
<h1>Edit Exercise</h1>
<form action="/legs/{{ leg['id'] }}" method="POST">
  <label for="">Day:</label>
  <input type="text" name="day" value="{{ leg['day'] }}">

  <label for="">Plan:</label>
  <input type="text" name="plan" value="{{ leg['plan'] }}">

  <label for="">Current Weight:</label>
  <input type="text" name="weight" value="{{ leg['weight'] }}">

  <label for="">Fasting Schedule:</label>
  <input type="text" name="fasting" value="{{ leg['fasting'] }}">


  <label for="">Dietary Plan:</label>
  <input type="text" name="diet" value="{{ leg['diet'] }}">


  <label for="">Image:</label>
  <input type="text" name="image" value="{{ leg['image'] }}">

  <label for="">Edits:</label>
  <input type="text" name="change" value="{{ leg['change'] }}">


  <button>Update Exercise</button>
</form>
</main>
{% endblock %}