{% extends 'base.html' %}

{% block content %}
    <h1>Legs Day</h1>

{% if current_user %}
<h3>Welcome to Keep it Fit {{ current_user['first_name'] }}</h3>
  
<section class="controls">
    <form action="/sessions/delete" method="POST">
      <button>Log out</button>
    </form>
  
    <a href="/legs/new">Add Leg Style</a>
  </section>
  <section class="legs">
        {% for leg in legs: %}
     
    <section class="leg">
        <header>
            <h2>{{ leg['name'] }}</h2>

            <section class="controls">
                <a href="/legs/{{ leg['id'] }}/edit">Edit</a>

                <form action="/legs/{{ leg['id'] }}/delete" method="POST">
                    <button>Delete</button>
                  </form>

                  <form action="/legs/{{ leg['id'] }}/comments" method="POST">
                    <button>Add Comment</button>
                  </form>

                  <label for="">Additional Comments:</label>
                    <input type="text" name="Comment" value="{{ leg['comment'] }}">

                    <form action="/legs/{{ leg['id'] }}/favourites" method="POST">
                      <button>Favourite</button> 
                </section>
            </header>
        
        <img src="{{ leg['image_url'] }}" alt=""><br>

        <p1>Day:</p1><p>{{ leg['day_of_month'] }}</p>
        <p1>leg Type</p1><p>{{ leg['leg_plan'] }}</p>
        <p1>Your curent weight</p1><p>{{ leg['current_weight'] }}</p>
        <p1>Number of Hours to Fast</p1><p>{{ leg['fasting_schedule'] }}</p>
        <p1>Diet Plan</p1><p>{{ leg['dietary_plan'] }}</p>
        <p1>Comments</p1><p>{{ leg['input_comment'] }}</p>
    </section>
    {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign up</a>
<a href="/sessions/new">Log in</a>
{% endif %}

{% endblock %}



   
 
  
