{% extends 'base.html' %}

{% block content %}
 <img src="https://i.postimg.cc/XvvMHygs/coverpage.png" alt="">
    <h1>Exercises To Keep You Fit</h1>

{% if current_user %}
<h3>Welcome To Keep It Fit  {{ current_user['first_name'] }}</h3>
  
<section class="controls">
    <form action="/sessions/delete" method="POST">
      <button>Log Out</button>
    </form>
  
    <a href="/goals/new">Add Goals</a>
    <a href="/exercises">Click Here If You Want To Gain Muscles</a>
    <a href="/legs">Click Here If You Want To Loose Weight</a>
    <a href="/shoulders">Click Here If You Want To Stay Active</a>
   
  </section>
  <section class="goals">
        {% for goal in goals: %}
     
    <section class="goal">
        <header>
           
            <h2>{{ goal['name'] }}</h2>

            <section class="controls">
                <a href="/goals/{{ goal['id'] }}/edit">Edit</a>
                

                <form action="/goals/{{ goal['id'] }}/delete" method="POST">
                    <button>Delete</button>
                  </form>
                
                </section>
            </header>
        <p1>Select your Goal:</p1><p>{{ goal['goal_text'] }}</p>
        <img src="{{ goal['goal_image_url'] }}" alt="">
    </section>
    {% endfor %}
</section>
{% else %}
<a href="/users/new">Sign Up</a>
<a href="/sessions/new">Log In</a>
{% endif %}

{% endblock %}

