{% extends 'base.html' %}

{% block content %}
    

{% if current_user %}
<h3>HURRRRAAAYYY.... its your favourite now  {{ current_user['first_name'] }}</h3>
<h1>Lets Get Back To WORK OUT</h1>
<a href="/goals" class="button">Go Back To Goals</a>
<!--   
<section class="controls">
    <form action="/sessions/delete" method="POST">
      <button>Log out</button>
    </form>
  
    <a href="/legs/new">Add leg Style</a>
  </section>
  <section class="legs">
        {% for leg in legs: %}
     
    <section class="leg">
        <header>
            <h2>{{ leg['name'] }}</h2>
          

            <section class="controls">
                <a href="/legs/{{ leg['id'] }}/edit">Edit</a>

                <form action="/legs/{{ leg['id'] }}/delete" method="POST">
                    <button>Delete</button>
                  </form>

                    <form action="/legs/{{ leg['id'] }}/favorites" method="POST">
                      <button>Favorite</button> 
                    </form>
                    

                </section>
            </header>
        
        <img src="{{ leg['image'] }}" alt=""><br>
        <p1>Day:</p1><p>{{ leg['day'] }}</p>
        <p1>leg Type</p1><p>{{ leg['plan'] }}</p>
        <p1>Your curent weight</p1><p>{{ leg['weight'] }}</p>
        <p1>Number of Hours to Fast</p1><p>{{ leg['fasting'] }}</p>
        <p1>Diet Plan</p1><p>{{ leg['diet'] }}</p>
        <p1>Edits</p1><p>{{ leg['change'] }}</p>
        <section>
          <form action="/legs/{{ leg['id'] }}/comments" method="POST">
            <textarea name="comment" id="" cols="30" rows="10"></textarea>
            <hr>
            <button>comment</button> 
            </form>
            <section class="comment">
              {% for comment in comments if leg['id'] == comment['exercise_id'] %}
                
                <section class="comments">
                  <p>{{ comment['comment'] }}</p>
                  <hr>
                </section>
                
              {% endfor %}
              </section>
        </section>
    </section>
<!--     
     -->
    {% endfor %}
</section>
{% else %} -->
<a href="/users/new">Sign Up</a>
<a href="/sessions/new">Log In</a>
{% endif %}

{% endblock %}
